<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>New Hero</title>
</head>
<body>
<h1>New Hero</h1>
  <form
    action="/dota-heroes" 
    method="post" 
    autocomplete="off"
    class="row row-cols-lg-auto g-3 align-items-center"
  >
    <div class="col-12">
      <div class="form-floating">
        <input type="text" class="form-control" name="name" placeholder="Hero Name">
        <label>Name</label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating">
        <input value="2010-11-01" type="date" class="form-control" name="release" placeholder="Pick Date" >
        <label>Pick Date</label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-floating">
        <input type="text" class="form-control" name="version" placeholder="Version">
        <label>Version</label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Save Hero</button>
    </div>
  </form>
</body>
</html>