<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Hero</title>
</head>
<body>
<h1>New Hero</h1>
  <form action="/dota-heroes" method="post" autocomplete="off">
    <label for="">Name:</label>
    <input type="text" name="name">
    <label for="">Release Date:</label>
    <input type="date" name="release">
    <label for="">Game Version:</label>
    <input type="text" name="version">
    <button type="submit">Save Hero</button>
  </form>
</body>
</html>