<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= hero._id %> </title>
</head>
<body>
  <h1>Hero</h1>
  <h2>Name: <%= hero.name %> </h2>
  <h3>Rlease Date: <%= hero.release %> </h3>
  <h3>Game Version: <%= hero.version %> </h3>
  <br>
  <a href="/dota-heroes">Return</a>
</body>
</html>